mixin sFAQBlock(data)
	// start sFAQBlock
	+b.SECTION.sFAQBlock.section#sFAQBlock&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 Ответы на популярные вопросы
			+e.wrap
				h4 Как запустить чат-бота в&nbsp;Telegram?
				ol
					mixin item(icon, text)
						li
							+e.icon-wrap: +img(`img/svg/${icon}`)
							p!= text
					+item('sFAQBlock-icon-1.svg', 'Регистрируетесь на&nbsp;платформе ChatFood')
					+item('sFAQBlock-icon-2.svg', 'Создаете чат-бота, настраиваете его и&nbsp;заполняете меню')
					+item('sFAQBlock-icon-3.svg', 'Распечатываете рекламные материалы с&nbsp;QR-кодом и&nbsp;размещаете у&nbsp;себя в&nbsp;ресторане')
					+item('sFAQBlock-icon-4.svg', 'Ваши клиенты начинают авторизовываться в&nbsp;чат-боте и&nbsp;совершать заказы')
					+item('sFAQBlock-icon-5.svg', 'С&nbsp;каждым днем растет клиентская база и&nbsp;количество заказов')
			+ddGroup()
				+ddGroupItem('Сколько это стоит?')
					p Стоимость стартового тарифа при оплате за&nbsp;месяц начинается от&nbsp;89&nbsp;рублей в&nbsp;день. Наша матрица тарифов устроена так, чтобы каждый ресторан выбрал наиболее подходящий для себя тариф и&nbsp;при этом не&nbsp;платил за&nbsp;ненужные возможности.
					p Чем дороже тариф, тем больше его ценность и&nbsp;возможности. Помимо платных тарифов у&nbsp;нас предусмотрен бесплатный тариф Free с&nbsp;ограниченным функционалом.
					p Также мы&nbsp;предоставляем 14&nbsp;дней бесплатного пользования на&nbsp;тарифах Старт и&nbsp;Стандарт.
					+e.btn.btn.btn-outline-primary(href='#') Перейти в тарифы
				+ddGroupItem('Как мы будем узнавать о новых заказах?')
					p После того, как вы&nbsp;настроите чат-бота и&nbsp;разместите QR-код в&nbsp;ресторане вы&nbsp;начнете получать заказы. Уведомления о&nbsp;новых заказах вы&nbsp;увидите в&nbsp;личном кабинете, а&nbsp;также они будут приходить в&nbsp;специальный чат-бот, ссылку на&nbsp;которого вы&nbsp;найдете в&nbsp;личном кабинете своего чат-бота.
					p Дополнительно вы&nbsp;можете подключить звонок на&nbsp;указанный номер телефона с&nbsp;уведомлением о&nbsp;новом заказе, это бесплатно.
				+ddGroupItem('Как изменить меню, цены, данные о ресторане после запуска чат-бота?')
					p Управление меню и&nbsp;ценами, информацией о&nbsp;ресторане будет доступно вам в&nbsp;личном кабинете в&nbsp;любое время 24&nbsp;часа в&nbsp;сутки.
				+ddGroupItem('Что делать, если закончились продукты для каких-либо блюд?')
					p Вы&nbsp;можете одним касанием поставить блюдо в&nbsp;стоп-лист в&nbsp;личном кабинете вашего чат-бота.
				+ddGroupItem('Как подключить онлайн-оплату в чат-боте?')
					
				+ddGroupItem('Как мне продвигать чат-бота?')
					p Разместите рекламную продукцию с&nbsp;QR-кодом чат-бота в&nbsp;своем заведении: тейбл-тент, наклейки на&nbsp;стол, наклейка на&nbsp;дверь. Кладите листовки с&nbsp;QR-кодом чат-бота в&nbsp;заказы на&nbsp;доставку. Мы&nbsp;рекомендуем использовать бонусные баллы за&nbsp;авторизацию в&nbsp;чат-боте, например 300 бонусных баллов, чтобы простимулировать клиентов в&nbsp;чат-боте.
				+ddGroupItem('Сколько чат-ботов можно создать на одном аккаунте?')
					p Сколько угодно. Для каждого чат-бота необходимо выбрать собственный тариф.
				+ddGroupItem('Я хочу стать вашим партнером, что делать?')
				+ddGroupItem('Передаете ли вы информацию третьим лицам?')
					p Нет, мы&nbsp;не&nbsp;передаем информацию о&nbsp;пользователях третьим лицам. Более того, не&nbsp;все сотрудники ChatFood имеют доступ к&nbsp;базе данных, а&nbsp;только ограниченный список лиц.
	// end sFAQBlock 

mixin sFAQBlock2(data)
	// start sFAQBlock
	+b.SECTION.sFAQBlock.section#sFAQBlock&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 Ответы на популярные вопросы
			+e.wrap
				h4 Как запустить чат-бота в&nbsp;Telegram?
				ol
					mixin item(icon, text)
						li
							+e.icon-wrap: +img(`img/svg/${icon}`)
							p!= text
					+item('sFAQBlock-icon-1.svg', 'Регистрируетесь на платформе ChatFood')
					+item('sControl-icon-1.svg', 'Получаете персональную ссылку и презентацию в&nbsp;личном кабинете')
					+item('sCapabilities-icon-20.svg', 'Скачиваете и подписываете договор в&nbsp;личном кабинете')
					+item('sCapabilities-icon-21.svg', 'Приглашаете клиентов в&nbsp;ChatFood по ссылке или промокоду')
					+item('sFAQBlock-icon-5.svg', 'Ежемесячно получаете выплаты на свой расчет счет')
			+ddGroup()
				+ddGroupItem('Как работает ранговая система партнеров?')
					p Стоимость стартового тарифа при оплате за&nbsp;месяц начинается от&nbsp;89&nbsp;рублей в&nbsp;день. Наша матрица тарифов устроена так, чтобы каждый ресторан выбрал наиболее подходящий для себя тариф и&nbsp;при этом не&nbsp;платил за&nbsp;ненужные возможности.
					p Чем дороже тариф, тем больше его ценность и&nbsp;возможности. Помимо платных тарифов у&nbsp;нас предусмотрен бесплатный тариф Free с&nbsp;ограниченным функционалом.
					p Также мы&nbsp;предоставляем 14&nbsp;дней бесплатного пользования на&nbsp;тарифах Старт и&nbsp;Стандарт.
					+e.btn.btn.btn-outline-primary(href='#') Перейти в тарифы
				+ddGroupItem('Как я буду получать выплаты?')
					p После того, как вы&nbsp;настроите чат-бота и&nbsp;разместите QR-код в&nbsp;ресторане вы&nbsp;начнете получать заказы. Уведомления о&nbsp;новых заказах вы&nbsp;увидите в&nbsp;личном кабинете, а&nbsp;также они будут приходить в&nbsp;специальный чат-бот, ссылку на&nbsp;которого вы&nbsp;найдете в&nbsp;личном кабинете своего чат-бота.
					p Дополнительно вы&nbsp;можете подключить звонок на&nbsp;указанный номер телефона с&nbsp;уведомлением о&nbsp;новом заказе, это бесплатно.
				+ddGroupItem('Чем занимается партнер?')
					p Управление меню и&nbsp;ценами, информацией о&nbsp;ресторане будет доступно вам в&nbsp;личном кабинете в&nbsp;любое время 24&nbsp;часа в&nbsp;сутки.
				+ddGroupItem('Вы обучаете партнеров как работать с клиентом?')
					p Вы&nbsp;можете одним касанием поставить блюдо в&nbsp;стоп-лист в&nbsp;личном кабинете вашего чат-бота.
				+ddGroupItem('Поможете, если я с чем-то не разберусь?')
					
				+ddGroupItem('Зачем клиенту регистрироваться по партнерской ссылке или промокоду?')
					p Разместите рекламную продукцию с&nbsp;QR-кодом чат-бота в&nbsp;своем заведении: тейбл-тент, наклейки на&nbsp;стол, наклейка на&nbsp;дверь. Кладите листовки с&nbsp;QR-кодом чат-бота в&nbsp;заказы на&nbsp;доставку. Мы&nbsp;рекомендуем использовать бонусные баллы за&nbsp;авторизацию в&nbsp;чат-боте, например 300 бонусных баллов, чтобы простимулировать клиентов в&nbsp;чат-боте.
	// end sFAQBlock 