mixin sBlog(data)
	// start sBlog
	+b.SECTION.sBlog.section#sBlog&attributes(attributes)
		.container
			+e.row.row
				mixin blogItem(title, text, date)
					+e.col.col-md-6.col-lg-4
						+e.item(href='#')
							+e.img-wrap.skeleton
								.img-wrap-center
							+e.title!= title
							p!= text
							+e.date!= date
				+blogItem('Значительное расширение раздела настроек чат-бота', 'Вы&nbsp;просили, мы&nbsp;сделали. Большое обновление связанное с&nbsp;расширением раздела настроек', '15 май. 2023')
				+blogItem('Функционал бронирования столов', 'Новый функционал платформы ChatFood уже доступен для каждого тарифа в&nbsp;платформе', '30 май. 2023')
				+blogItem('Обновление сайта и&nbsp;официальный запуск партнерской программы', 'Мы&nbsp;сделали наш сайт более удобным&nbsp;&mdash; внутри подробно рассказываем об&nbsp;изменениях', '20 апр. 2023')
				+blogItem('Версия&nbsp;3.0&nbsp;&mdash; Обновляемся', 'С&nbsp;23:00 13.11.2022 до&nbsp;6:00 14.11.2022&nbsp;в связи с&nbsp;обновлением сервис будет недоступен', '11 ноя. 2022')
				+blogItem('Версия&nbsp;3.0&nbsp;&mdash; Подготовка к&nbsp;обновлению', 'Мы&nbsp;анонсируем выход новой версии нашей платформы, в&nbsp;которой учтены многие пожелания', '26 авг. 2022')
				+e.col.col-md-6.col-lg-4
					+contactItem({
							bgc: `var(--bs-secondary)`,
							img: `telegram`,
							descr: `Публикуем бонусы, акции, новости об&nbsp;обновлениях и&nbsp;другие важные уведомления в&nbsp;первую очередь`,
							link: 't.me/chatfoodru',
							adress: `https://t.me/chatfoodru`,
							btn: 'Подписаться на канал',
						})
				+blogItem('Beta-тестирование ChatFood успешно завершено', 'В&nbsp;данный момент регистрация открыта для всех желающих на&nbsp;бесплатной основе', '21 дек. 2021')
				+blogItem('Версия&nbsp;3.0&nbsp;&mdash; Подготовка к&nbsp;обновлению', 'Мы&nbsp;анонсируем выход новой версии нашей платформы, в&nbsp;которой учтены многие пожелания', '26 авг. 2022')
				+blogItem('Версия&nbsp;3.0&nbsp;&mdash; Обновляемся', 'С&nbsp;23:00 13.11.2022 до&nbsp;6:00 14.11.2022&nbsp;в связи с&nbsp;обновлением сервис будет недоступен', '11 ноя. 2022')
			+pugin
	// end sBlog