mixin sWhileUsing(data)
	// start sWhileUsing
	+b.SECTION.sWhileUsing.section#sWhileUsing&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 While using ChatFood you get
			+e.row.row
				mixin item(json, title, text)
					.col-6
						+e.item 
							+e.content
								+e.img-wrap
									.img-wrap-center(data-json=json)
								h6!= title 
								p!=text
				+item('json/menu.json', 'Menu', "Your customer can view your restaurant's menu in the chatbot.")
				+item('json/orders.json', 'Orders', 'Receive delivery or takeaway orders with online or cash payment  (delivery charges included).')
				+item('json/clients.json', 'Customer base', 'Every customer who joins the chatbot remains in the system. You see information about each customer and their orders.')
				+item('json/mailing.json', 'Distribution', 'Encourage customers to make orders or invite them to your restaurant via automated or manual mailings.')
				+item('json/table.json', 'Table reservations', 'Your customers can book a table for the desired date and time without leaving Telegram.')
				+item('json/bonus.json', 'Bonus system', 'Give bonus cash to customers when they log in to your chatbot or allow your customers the cashback on the orders.')
			+e.wrap
				p Telegram and chatbots in&nbsp;Russia and the CIS countries are achieving record levels of&nbsp;growth. Don&rsquo;t miss the opportunity to&nbsp;create a&nbsp;successful sales tool to&nbsp;organize your customers&rsquo; meal sales process directly via messenger.
				p To&nbsp;get customized terms for your restaurant, email&nbsp;us:
				a(href="mailto: info@chatfood.ru.") info@chatfood.ru.
	// end sWhileUsing