
mixin modal() 
	//  start modals
	//- a(href="modal-call").link-modal-js modal-call 
	div(id="modal-call"  style="display: none" )
		+b.modal-win
			+form-wrap
				.text-center
					+e.title.form-data.h3.ttu Обратный звонок
					p.after-headline Заполните заявку и&nbsp;мы&nbsp;с&nbsp;Вами свяжемся в&nbsp;течение 15&nbsp;минут

				+input("Ваше Имя")(required)  
				+e.BUTTON.btn.btn(type="submit")
				+policy()
	// #modal-call

	div(id="modal-stories"  style="display: none" )
		+b.modal-stories(style='--storiesBg: linear-gradient(0deg, rgba(245, 176, 77, 0.12), rgba(245, 176, 77, 0.12))')
			+e.status-line
			+e.icon-wrap: +img('img/stories-icon-1.png')
			.h5.data-title Дарим 1000 ₽ в&nbsp;качестве бонуса за регистрацию
			p.after-headline Просто создайте аккаунт и получите 1000 ₽ на баланс личного кабинета
			+e.btn.btn.btn-warning(href='#') Зарегистрироваться
	// #modal-stories
	
	div(id="modal-tariffs"  style="display: none" )
		+b.modal-win
			+b.tariffs.collapse-js
				table
					thead
						tr
							th
								h3 Сравнение тарифов
							mixin item(t, p, d, i)
								th
									+b.tariffs-item
										+e.title
											if i
												+img('img/fire.png')
											!= t
										+e.price!= p
										if d
											+e.price-day!= d
										p За одного чат-бота
										+e.btn.btn.btn-success(href="#") Выбрать

							+item(`Бесплатный`, `0 ₽`)
							+item(`Старт`, `19 200 ₽`, `89 ₽ в день`)
							+item(`Стандарт`, `28 800 ₽`, `119 ₽ в день`, `i`)
							+item(`Профи`, `57 600 ₽`, `149 ₽ в день`)
					tbody
						tr
							td Количество товаров
							td до 15
							td до 30
							td до 80
							td
								+img('img/svg/infinity.svg')
						tr
							td Количество рассылок в месяц
							td 1
							td до 5
							td до 10
							td
								+img('img/svg/infinity.svg')
						tr
							td Управляющие пользователи
							td 1
							td до 3
							td до 7
							td до 10
						tr
							td Опции товаров
							td 
								+img('img/svg/bad.svg')
							td 
								+img('img/svg/corret.svg')
							td 
								+img('img/svg/corret.svg')
							td 
								+img('img/svg/corret.svg')
						tr
							td Расчет стоимости доставки
							td 
								+img('img/svg/bad.svg')
							td 
								+img('img/svg/corret.svg')
							td 
								+img('img/svg/corret.svg')
							td 
								+img('img/svg/corret.svg')
						tr
							td Скрытие логотипа ChatFood
							td 
								+img('img/svg/bad.svg')
							td 
								+img('img/svg/corret.svg')
							td 
								+img('img/svg/corret.svg')
							td 
								+img('img/svg/corret.svg')
						tr
							td Вариативные товары
							td 
								+img('img/svg/bad.svg')
							td 
								+img('img/svg/bad.svg')
							td 
								+img('img/svg/corret.svg')
							td 
								+img('img/svg/corret.svg')
						tr
							td Онлайн-оплата
							td 
								+img('img/svg/bad.svg')
							td 
								+img('img/svg/bad.svg')
							td 
								+img('img/svg/corret.svg')
							td 
								+img('img/svg/corret.svg')
						tr
							td API
							td 
								+img('img/svg/bad.svg')
							td 
								+img('img/svg/bad.svg')
							td 
								+img('img/svg/corret.svg')
							td 
								+img('img/svg/corret.svg')
						tr
							td Премиум поддержка
							td 
								+img('img/svg/bad.svg')
							td 
								+img('img/svg/bad.svg')
							td 
								+img('img/svg/bad.svg')
							td 
								+img('img/svg/corret.svg')
					tfoot
						tr
							td.active(colspan="4")
								span.hide Свернуть
								span.show Развернуть
								+icon('chevron-up')

	// #modal-tariffs
	
	// end modals