mixin sReasons(data)
	// start sReasons
	+b.SECTION.sReasons.section#sReasons&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 6 причин начать пользоваться ChatFood
			+e.row.row
				mixin item(title, text, json)
					.col-6.col-lg-4
						+e.item
							//- +e.img-wrap(data-json= json)
							+img('img/svg/sReasons-img-1.svg')
							h6!= title
							p!= text
				+item('Меню заведения', 'Ваш клиент может ознакомиться с&nbsp;меню вашего ресторана в&nbsp;чат-боте', 'ac315916-9b33-4247-b6cd-80668a70e09d')
				+item('Заказы', 'Получайте заказы на&nbsp;доставку и&nbsp;самовывоз с&nbsp;онлайн-оплатой или оплатой наличными, с&nbsp;расчетом стоимости доставки')
				+item('Клиентская база', 'Каждый клиент вступивший в&nbsp;чат-бот остается в&nbsp;системе. Вы&nbsp;видите информацию о&nbsp;каждом клиенте и&nbsp;их&nbsp;заказах')
				+item('Рассылки', 'Стимулируйте клиентов к&nbsp;заказам или&nbsp;приглашайте в&nbsp;ресторан с&nbsp;помощью автоматизированных или ручных рассылок')
				+item('Бронирование столов', 'Ваши клиенты могут выбрать понравившийся стол и&nbsp;забронировать его в&nbsp;пару кликов на&nbsp;нужное время и&nbsp;дату не&nbsp;выходя из&nbsp;Telegram')
				+item('Бонусная система', 'Начисляйте бонусные рубли клиентам при авторизации в&nbsp;чат-боте, а&nbsp;также кэшбэк с&nbsp;заказов')
	// end sReasons