mixin sCapabilities(data)
	// start sCapabilities
	+b.SECTION.sCapabilities.section#sCapabilities&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 Что умеет чат-бот?
				p Возможности WebApp чат-бота от&nbsp;ChatFood для ваших клиентов
			+e.row.row
				mixin item(icon, title, text)
					.col-lg-6
						+b.dd-group.dd-group-js
							+e.item
								+e.head.dd-head-js
									+e.icon-wrap: +img(`img/svg/${icon}`)
									h6!= title
								+e.content.dd-content-js!= text
				+item('sCapabilities-icon-1.svg', 'Оформлять заказы', 'Ваш клиент видит полный ассортимент меню, может добавлять блюда в&nbsp;корзину, выбирать способ оплаты и&nbsp;доставки, а&nbsp;также оплачивать часть покупки бонусными рублями')
				+item('sCapabilities-icon-2.svg', 'Рассчитывать стоимость доставки', 'Чат-бот считает километраж от&nbsp;заведения до&nbsp;места выдачи заказа и&nbsp;считает стоимость доставки, а&nbsp;также вы&nbsp;можете сделать стоимость доставки по&nbsp;вашим условиям: бесплатной или фиксированной')
				+item('sCapabilities-icon-3.svg', 'Бронировать стол', 'Ваш клиент может выбрать понравившийся стол и&nbsp;забронировать его на&nbsp;необходимую дату и&nbsp;время')
				+item('sCapabilities-icon-4.svg', 'Оценивать блюда из заказа', 'После каждого выполненного заказа пользователь будет получать сообщение с&nbsp;предложением оценить блюда из&nbsp;заказа, а&nbsp;за&nbsp;это будет получать бонусные баллы')
				+item('sCapabilities-icon-5.svg', 'Отправлять рассылки', 'Чат-бот будет отправлять автоматические рассылки которые вы&nbsp;настроите и&nbsp;напоминать клиенту совершить заказ, забронировать стол, а&nbsp;также вы&nbsp;можете отправлять рассылки вручную всем или отдельно выбранным пользователям')
				+item('sCapabilities-icon-6.svg', 'Уведомлять сотрудников и клиентов', 'Вы&nbsp;будете получать уведомления в&nbsp;Telegram, по&nbsp;SMS или звонком после каждого совершенного заказа или бронирования стола, а&nbsp;ваши клиенты будут получать автоматические текстовые уведомления о&nbsp;смене статуса заказа')
	// end sCapabilities