mixin sControl(data)
	// start sControl
	+b.SECTION.sControl.section#sControl&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 Как управлять чат-ботом?
				p Возможности системы управления ChatFood для ресторана и сотрудников с любого устройства
			+b.dd-group.dd-group-js
				mixin item(icon, title, text)
					+e.item&attributes(attributes)
						+e.head.dd-head-js
							+e.icon-wrap: +img(`img/svg/${icon}`)
							h6!= title
						+e.content.dd-content-js
							if text 
								!= text
							else
								block
				+item('sControl-icon-1.svg', 'Создание чат-бота', 'Создание чат-бота не&nbsp;займет у&nbsp;вас более 5&nbsp;минут, а&nbsp;также в&nbsp;личном кабинете вы&nbsp;найдете все необходимые подсказки по&nbsp;созданию чат-бота в&nbsp;Telegram')
				+item('sControl-icon-2.svg', 'Заполнение и редактирование меню')
					ul
						li Заполнение и&nbsp;редактирование меню ресторана происходит в&nbsp;несколько кликов
						li Если закончились продукты для каких-либо блюд, вы&nbsp;можете поставить блюдо в&nbsp;стоп-лист и&nbsp;оно будет недоступно для заказа пользователям чат-бота
						li В&nbsp;новой версии появилась возможность создания вариативных товаров и&nbsp;дополнительных опций к&nbsp;товарам.
						li Рейтинг блюд от&nbsp;ваших клиентов, которые оставляют оценку каждому блюду после совершения заказа, а&nbsp;за&nbsp;это получают бонусные рубли (если вы&nbsp;включите эту функцию)
				+item('sControl-icon-3.svg', 'Управление заказами')
					ul
						li Вы&nbsp;получаете уведомления о&nbsp;новых заказах в&nbsp;Telegram, из&nbsp;уведомления вы&nbsp;переходите в&nbsp;системе управления и&nbsp;просматриваете полную информацию о&nbsp;заказе, клиенте, платеже и&nbsp;меняете статус заказа
						li Вы&nbsp;получаете автоматический звонок-уведомление о&nbsp;новом заказе, чтобы не&nbsp;пропустить ни&nbsp;один заказ (если вы&nbsp;включите эту функцию)
				+item('sControl-icon-4.svg', 'Управление бронью столов')
					ul
						li Вы&nbsp;получаете уведомления о&nbsp;новых бронированиях столов в&nbsp;Telegram, из&nbsp;уведомления вы&nbsp;переходите в&nbsp;системе управления и&nbsp;просматриваете полную информацию о&nbsp;бронировании
						li Вы&nbsp;получаете автоматический звонок-уведомление о&nbsp;новом заказе, чтобы не&nbsp;пропустить ни&nbsp;одну бронь (если вы&nbsp;включите эту функцию)
						li Вы&nbsp;можете включить депозитную стоимость для вашего стола, указать доступное время для бронирования, а&nbsp;также прикрепить фотографию, описание и&nbsp;указать количество персон
				+item('sControl-icon-5.svg', 'Клиентская база')
					ul
						li Каждый пользователь вступивший в&nbsp;чат-бот остается в&nbsp;системе управления
						li Вы&nbsp;видите информацию о&nbsp;каждом клиенте и&nbsp;его заказы, также можете заблокировать пользователя при необходимости
				+item('sControl-icon-6.svg', 'Рассылки', 'Отправляйте сообщения пользователям своего чат-бота по&nbsp;отдельности или сразу всем, стимулируйте пользователей к&nbsp;заказам и&nbsp;бронированию столов')
				+item('sControl-icon-7.svg', 'Аналитика', 'Вы&nbsp;видите аналитику по&nbsp;заказам, пользователям, а&nbsp;также оценки за&nbsp;блюда, количество заказов на&nbsp;конкретные блюда и&nbsp;их&nbsp;популярность')
				+item('sControl-icon-8.svg', 'Бонусная и реферальная система', 'Тонкие настройки бонусной и&nbsp;реферальной систем под ваше заведение. Стимулируйте клиентов к&nbsp;заказам бонусами за&nbsp;регистрацию и&nbsp;кешбэком с&nbsp;заказов, а&nbsp;также начисляйте бонусы за&nbsp;приглашения друзей')
				+item('sControl-icon-9.svg', 'Настройки ').--settings
					ul
						li Минимальная сумма для бесплатной доставки
						li Минимальная сумма заказа
						li Адрес заведения, от&nbsp;которого будет считаться стоимость доставки
						li Настройка формулы расчета стоимости доставки
						li Время приема заказов
						li Текстовое заполнение и&nbsp;визуальное оформление чат-бота
						li Способы оплаты-доставки
						li Способы оплаты для самовывоза
						li Валюта чат-бота
						li Добавление и&nbsp;редактирование администраторов чат-бота
						li Получение персонального API ключа
						li Получение QR&nbsp;кода для продвижения чат-бота
	// end sControl