mixin sContact()
	// start sContact
	+b.sContact.section#sContact&attributes(attributes)
		.container
			+e.row.row
				.col-md-6
					+contactItem({
						bgc: `var(--bs-secondary)`,
						img: `telegram`,
						descr: `Технические проблемы и&nbsp;оперативная связь с&nbsp;поддержкой`,
						link: `t.me/chatfood`,
						adress: `https://t.me/chatfood`,
						time: `Отвечаем каждый день с 10:00 до 18:00`,
					})
				.col-md-6
					+contactItem({
						bgc: `var(--bs-warning)`,
						img: `mail`,
						descr: `Ваши предложения, сотрудничество с&nbsp;нами и&nbsp;вакансии в&nbsp;компании`,
						link: `info@chatfood.ru`,
						adress: `mailto:info@chatfood.ru`,
						time: `Отвечаем каждый день с 10:00 до 18:00`,
					})
				.col-md-6
					+contactItem({
						bgc: `#E21A20`,
						img: `youtube`,
						descr: `Публикуем видео-обзоры и&nbsp;инструкции по&nbsp;работе с&nbsp;платформой ChatFood.ru`,
						btn: `Подписаться`
					})
				.col-md-6
					+contactItem({
						bgc: `var(--bs-secondary)`,
						img: `telegram`,
						descr: `Публикуем бонусы, акции, новости об&nbsp;обновлениях и&nbsp;другие важные уведомления в&nbsp;первую очередь`,
						adress: `https://t.me/chatfood`,
						btn: `Подписаться`
					})

	// end sContact