mixin s404Block(data)
	// start s404Block
	+b.SECTION.s404Block.section#s404Block&attributes(attributes)
		.container
			+e.wrap
				+e.img-wrap
					.img-wrap-center(data-json='json/engineer.json')
				h1 Страница, которую вы запрашиваете, не существует
				p Скорее всего, это случилось по&nbsp;одной из&nbsp;следующих причин: страница переехала, страницы больше нет, возможно, вы&nbsp;допустили небольшую опечатку при вводе адреса или вам просто нравится изучать 404&nbsp;страницы.
				a(href="#") Перейти на главную
	// end s404Block