mixin sEngVersionFooter(data)
	// start sEngVersionFooter
	+b.FOOTER.sEngVersionFooter.section#sEngVersionFooter&attributes(attributes)
		.container
			p © 2021-#[span] «ChatFood.ru». All right reserved.
	// end sEngVersionFooter