extends ../layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug
include ../blocks/sForm/_sForm.pug

block variables
	- let  mainPage= null 
	- let  bg= null

block title
	- let  title= 'Модальные окна'
	title= title
block pagecontent
	//- +topLine()
	main
		.section.container
			h1 Страница для  демонстрации модальных окон
			.row
				mixin btn(id, name)
					.col-auto.mb-2
						a.btn.btn-primary(href=`#` data-src=id data-fancybox="modal")&attributes(attributes)= name
				+btn("modal-call", "modal-call")
				+btn("modal-stories", "modal-stories")(data-title="Дарим 1000 ₽ в&nbsp;качестве бонуса за регистрацию", data-text="Просто создайте аккаунт и получите 1000 ₽ на баланс личного кабинета", data-btn="Зарегистрироваться", data-img="img/stories-icon-1.png")
				+btn("modal-stories", "modal-stories2")(data-title="Удвоим баланс при пополнении от 5000 ₽", data-text="Пополнить баланс можно картой онлайн или по выставленному счету. Акция действует до 23 марта 2023 г.", data-btn="Пополнить баланс", data-img="img/stories-icon-2.png")
				+btn("modal-stories", "modal-stories3")(data-title="Зарабатывайте вместе с нами!", data-text="Станьте партнером сервиса ChatFood и&nbsp;получайте от 40 до 50% с каждого платежа привлеченного вами клиента.", data-btn="Узнать подробнее", data-img="img/stories-icon-3.png")
				+btn("modal-tariffs", "Тарифы")
	+parts('footer')
