extends ../layout/main.pug

include ../blocks/sChooseTariff/_sChooseTariff.pug
include ../blocks/sTryIt/_sTryIt.pug

block variables
	- let  mainPage= null 
	- let  bg= '03-tarifs.jpg'

block title
	- let  title= 'Тарифы'
	title= title
block pagecontent
	//- +mob-mnu()
	
	
	+parts('headerAuth')
	main
		+page-head(`Выберите тариф для вашего чат-бота в&nbsp;ChatFood`, `Тарифы`)
		+sChooseTariff()
		+sTryIt()
	+parts('footer')
	//- +cookies()


