extends ../layout/main.pug

include ../blocks/sChooseTariff/_sChooseTariff.pug
include ../blocks/sTryIt/_sTryIt.pug

block variables
	- let  mainPage= 'main-page' 
	- let  bg= 'main.jpg'

block title
	- let  title= 'Главная'
	title= title
block pagecontent
	//- +mob-mnu()
	
	
	+parts('headerAuth')
	main
		+sChooseTariff()
		+sTryIt()
	+parts('footer')
	//- +cookies()


