extends ../layout/main.pug

include ../blocks/sContact/_sContact.pug

block variables
	- let  mainPage= null 
	- let  bg= '04-contacts.jpg'

block title
	- let  title= 'Тарифы'
	title= title
block pagecontent
	//- +mob-mnu()
	
	
	+parts('headerAuth')
	main
		+page-head(`Контактная информация`, `Контакты`)
		+sContact()
		+parts('sTryItPart')
	+parts('footer')
	//- +cookies()


