extends ../layout/main.pug

include ../blocks/sWiki/_sWiki.pug

block variables
	- let  mainPage= null 
	- let  bg= '07-wiki.jpg'

block title
	- let  title= 'База знаний'
	title= title
block pagecontent
	//- +mob-mnu()


	+parts('headerAuth')
	main
		+page-head(`База знаний ChatFood`, `База знаний`)
		+sWiki()
			+search()
			+e.row.row
				.col-lg-9
					+e.wrap
						+b.dd-group.dd-group-js
							mixin item(title, badge)
								+e.item
									+e.head.dd-head-js
										h5!= title
											if badge
												.badge.bg-success!= badge
									+e.content.dd-content-js
										block
							+item(`🔥 Создание чат-бота`, '')
								+wikiItem({
									bgc: `linear-gradient(0deg, rgba(111, 100, 236, 0.12), rgba(111, 100, 236, 0.12))`,
									img: `1`,
									step: `1 шаг`,
									title: 'Регистрация на сервисе ChatFood',
									text: 'Прежде чем создать своего чат-бота необходимо завести персональный аккаунт на&nbsp;сервисе ChatFood'
								})
								+wikiItem({
									bgc: `linear-gradient(0deg, rgba(75, 177, 75, 0.12), rgba(75, 177, 75, 0.12))`,
									img: `2`,
									step: `2 шаг`,
									title: 'Создание чат-бота',
									text: 'Все что вам нужно это нажать на&nbsp;кнопку &laquo;Создать чат-бота&raquo; и&nbsp;следовать инструкциям'
								})
								+wikiItem({
									bgc: `linear-gradient(0deg, rgba(255, 122, 0, 0.12), rgba(255, 122, 0, 0.12))`,
									img: `3`,
									step: `3 шаг`,
									badge: 'new',
									title: 'Работа с BotFather в Telegram',
									text: 'Получение API ключа, название чат-бота, а&nbsp;также визуальное оформление через BotFather в&nbsp;Telegram'
								})
							+item(`⚙️ Настройки чат-бота`, `new`)
								+wikiItem({
									bgc: `linear-gradient(0deg, rgba(245, 176, 77, 0.12), rgba(245, 176, 77, 0.12))`,
									img: `4`,
									step: `1 шаг`,
									title: 'Регистрация на сервисе ChatFood',
									text: 'Прежде чем создать своего чат-бота необходимо завести персональный аккаунт на&nbsp;сервисе ChatFood'
								})
								+wikiItem({
									bgc: `linear-gradient(0deg, rgba(0, 159, 227, 0.12), rgba(0, 159, 227, 0.12))`,
									img: `5`,
									step: `2 шаг`,
									title: 'Создание чат-бота',
									text: 'Все что вам нужно это нажать на&nbsp;кнопку &laquo;Создать чат-бота&raquo; и&nbsp;следовать инструкциям'
								})
							+item(`✌️ Управляющие пользователи`, `new`)
								+wikiItem({
									bgc: `linear-gradient(0deg, rgba(111, 100, 236, 0.12), rgba(111, 100, 236, 0.12))`,
									img: `1`,
									step: `1 шаг`,
									title: 'Регистрация на сервисе ChatFood',
									text: 'Прежде чем создать своего чат-бота необходимо завести персональный аккаунт на&nbsp;сервисе ChatFood'
								})
								+wikiItem({
									bgc: `linear-gradient(0deg, rgba(75, 177, 75, 0.12), rgba(75, 177, 75, 0.12))`,
									img: `2`,
									step: `2 шаг`,
									title: 'Создание чат-бота',
									text: 'Все что вам нужно это нажать на&nbsp;кнопку &laquo;Создать чат-бота&raquo; и&nbsp;следовать инструкциям'
								})
								+wikiItem({
									bgc: `linear-gradient(0deg, rgba(255, 122, 0, 0.12), rgba(255, 122, 0, 0.12))`,
									img: `3`,
									step: `3 шаг`,
									badge: 'new',
									title: 'Работа с BotFather в Telegram',
									text: 'Получение API ключа, название чат-бота, а&nbsp;также визуальное оформление через BotFather в&nbsp;Telegram'
								})
				.col-lg-3.d-none.d-lg-block.sticky-content-js
					+navBlock()
						+e.item(href="#") 🔥 Создание чат-бота
						+e.item(href="#") ⚙️ Настройки чат-бота
						+e.item(href="#") 🍔 Категории и товары
						+e.item(href="#") 💸 Заказы
						+e.item.active(href="#") 😊 Клиенты
						+e.item(href="#") 💌 Рассылки
						+e.item(href="#") 🚀 Продвижение
						+e.item(href="#") ✌️ Управляющие пользователи
						+e.item(href="#") 💎 Тарифы
						+e.item(href="#") 
							| 💬 Чат
							.badge.bg-success new
						+e.item(href="#") 🛎️ Бронирование столов
						+e.item(href="#") 💡 Другое
		+parts('sTryItPart')
	+parts('footer')
	//- +cookies()
	+sideScrollTop()