extends ../layout/main.pug

include ../blocks/headerBlock/_headerBlock.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sContent/_sContent.pug
 
include ../blocks/sCapabilities/_sCapabilities.pug
include ../blocks/sReasons/_sReasons.pug
include ../blocks/sControl/_sControl.pug
include ../blocks/sCompare/_sCompare.pug
include ../blocks/sWhyTelegramBot/_sWhyTelegramBot.pug
include ../blocks/sConnected/_sConnected.pug
include ../blocks/sChooseTariff/_sChooseTariff.pug
include ../blocks/sFAQBlock/_sFAQBlock.pug
include ../blocks/sReviews/_sReviews.pug
include ../blocks/sTryIt/_sTryIt.pug

block variables
	- let  mainPage= 'login-page' 
	- let  bg= '10-login.jpg'

block title
	- let  title= 'Login page'
	title= title
block pagecontent
	//- +mob-mnu()
	
	
	//- +parts('header')
	main
		+authorization({
			json: 'hero_Right.json',
			title: 'Начните бесплатно',
			text: 'Зарегистрируйтесь и создайте чат-бота за 5 минут',
		})
			+e.content
				h4 Введите код из SMS для подтверждения номера телефона
				p Номер введен неверно? 
					a(href="#") Изменить
				+form-wrap
					+e.input-wrap.disabled.form-group
						+e.INPUT.input.form-control.tel--js(name='tel' type='tel' placeholder='Пароль' value='919 811-28-40' disabled)
						+e.SPAN.input-inavlid Текст ошибки.
					+input('Код из SMS', 'text')
					+e.repeat Отправить код повторно через 0:59
					+e.btn.btn.btn-primary(type='submit') Зарегистрироваться
					+policy()
	//- +parts('footer')


