extends ../layout/main.pug

include ../blocks/headerBlock/_headerBlock.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sContent/_sContent.pug
 
include ../blocks/sCapabilities/_sCapabilities.pug
include ../blocks/sReasons/_sReasons.pug
include ../blocks/sControl/_sControl.pug
include ../blocks/sCompare/_sCompare.pug
include ../blocks/sWhyTelegramBot/_sWhyTelegramBot.pug
include ../blocks/sConnected/_sConnected.pug
include ../blocks/sChooseTariff/_sChooseTariff.pug
include ../blocks/sFAQBlock/_sFAQBlock.pug
include ../blocks/sReviews/_sReviews.pug
include ../blocks/sTryIt/_sTryIt.pug

block variables
	- let  mainPage= 'login-page' 
	- let  bg= '10-login.jpg'

block title
	- let  title= 'Login page'
	title= title
block pagecontent
	//- +mob-mnu()
	
	
	//- +parts('header')
	main
		+authorization({
			json: 'Engineer2.json',
			title: 'Не беспокойтесь',
			text: 'Вы получите ссылку для восстановления пароля на email',
		})
			+e.content
				h4 Восстановление пароля
				p На&nbsp;указанный почтовый ящик <strong>mail@mail.ru</strong> мы&nbsp;отправили письмо со&nbsp;ссылкой для восстановления пароля. Пожалуйста, проверьте папку со&nbsp;спамом, если не&nbsp;получили письмо.
				+e.btn.btn.btn-primary(href='#') Вернуться назад
	//- +parts('footer')


