extends ../layout/main.pug

include ../blocks/headerBlock/_headerBlock.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sContent/_sContent.pug
 
include ../blocks/sEngVersionHeader/_sEngVersionHeader.pug
include ../blocks/sEngVersionHeaderBlock/_sEngVersionHeaderBlock.pug

block variables
	- let  mainPage= 'eng-version-page' 
	- let  bg= '9-404.jpg'

block title
	- let  title= 'Eng Version'
	title= title
block pagecontent
	//- +mob-mnu()
	
	+sEngVersionHeader()
	main
		+sEngVersionHeaderBlock()
	+parts('footer')