extends ../layout/main.pug

include ../blocks/sChooseTariff/_sChooseTariff.pug
include ../blocks/sTextContent/_sTextContent.pug

block variables
	- let  mainPage= null 
	- let  bg= '15-policy.jpg'

block title
	- let  title= 'Политика конфиденциальности'
	title= title
block pagecontent
	//- +mob-mnu()
	
	
	+parts('headerAuth')
	main
		+page-head(``, `Условия партнерской программы`)
		+sTextContent()
			.row
				+e.col.col-lg-9
					h1 Условия партнерской программы
					+e.date Редакция от 16 Января 2023 года
					ol
						li#RemunerationAccrual
							| Термины и определения
							ol
								li Вознаграждения на&nbsp;счет Партнера начисляются ежедневно, в&nbsp;момент списания денежных средств с&nbsp;баланса приглашенного Партнером Пользователя (при наличии у&nbsp;приглашенного Партнером Пользователя одного из&nbsp;платных тарифов: Старт, Стандарт или Профи).
								li Вознаграждения на&nbsp;счет Партнера не&nbsp;начисляются с&nbsp;бонусов, которые были зачислены на&nbsp;баланс приглашенного Партнером Пользователя.
								li Процент вознаграждения зависит от&nbsp;текущего статуса Партнера (узнать статус Партнера можно в&nbsp;личном кабинета партнера по&nbsp;адресу: 
									a(href="https://chatfood.ru/cabinet/partner", target="_blank") https://chatfood.ru/cabinet/partner.
									ul
										li Бронзовый партнер - 40%;
										li Серебряный партнер - 45%;
										li Золотой партнер - 50%.
								li Вознаграждение начисляется на&nbsp;отдельный счет Партнера (не&nbsp;является счетом Пользователя).
								li Если за&nbsp;последние 12&nbsp;месяцев Партнер не&nbsp;привлёк ни&nbsp;одного нового Пользователя (реферала) с&nbsp;заказанными услугами, начисление бонусов приостанавливается и&nbsp;текущие реферальные привязки по&nbsp;услугам аннулируются. Аннулированные привязки не&nbsp;восстанавливаются.
						li#PaymentOfRewards
							| Выплата вознаграждений
							ol
								li Выплата вознаграждений осуществляется автоматически раз в&nbsp;месяц с&nbsp;1&nbsp;по&nbsp;5&nbsp;число, за&nbsp;предыдущий календарный месяц.
								li Минимальная сумма для выплаты вознаграждения составляет 1&nbsp;000&nbsp;рублей.
								li Выплата вознаграждения осуществляется на&nbsp;расчетный счет партнера, указанный при заключении договора и&nbsp;заполнении реквизитов.
						li#Participants
							| Участникам партнерской программы запрещается
							ol
								li Использовать незаконные способы привлечения клиентов или любое другое искусственное увеличение количества заказов.
								li Создавать клоны интернет-сайтов ChatFood. Использовать интерфейс сходный с&nbsp;интерфейсом этих интернет-сайтов, а&nbsp;также использовать логотип ChatFood.
								li Использовать домены chatfood.ru или название компании ChatFood, в&nbsp;контекстной рекламе Google Adwords и&nbsp;Яндекс Директ.
								li Использовать автоматический редирект, всплывающие окна и&nbsp;любые другие навязчивые типы рекламы: PopUp, PopUnder, ClickUnder, Toolbar и&nbsp;т.д.
								li Рассылать спам-рассылки или рассылки от&nbsp;лица сотрудников компании ChatFood (email, мессенджеры)
								li Использовать Adult-трафик.
								li Применять SMS-рассылки.
								li Использовать Push-рекламу.
								li Использовать инструмент Cookie stuffing (cookie dropping).
								li Перед размещением на&nbsp;стороннем ресурсе реферальной ссылки, промокода и&nbsp;других идентификаторов партнерской программы https://chatfood.ru, пожалуйста, ознакомьтесь с&nbsp;правилами этого ресурса. Реферальная деятельность в&nbsp;рамках этого ресурса может быть запрещена или ограничена. По&nbsp;запросу его владельца ваш аккаунт в&nbsp;ChatFood может быть заблокирован либо приостановлено ваше участие в&nbsp;партнерской программе (с&nbsp;блокировкой начисленного вознаграждения).
								li 
									| При распространении рекламы вам нужно соблюдать законодательство о&nbsp;рекламе и&nbsp;самостоятельно передавать всю необходимую информацию о&nbsp;рекламе в&nbsp;Единый реестр интернет-рекламы через Операторов рекламных данных в&nbsp;порядке и&nbsp;сроки, установленные законодательством РФ.
									p В&nbsp;случае нарушения этих правил, ChatFood вправе приостановить ваше участие в&nbsp;партнерской программе, и&nbsp;заблокировать вывод начисленного вознаграждения.
						li#OtherConditions
							| Прочие условия
							ol
								li После перехода по&nbsp;реферальной ссылке пользователь должен зарегистрироваться в&nbsp;течение 48&nbsp;часов (двое суток). Если пользователь зарегистрировался позже, вы&nbsp;не&nbsp;будете получать за&nbsp;него вознаграждение.
								li Администрация сервиса chatfood.ru имеет право менять текущие условия партнерской программы, без предварительного уведомления участников программы.
									p За дополнительными вопросами, вы можете обратиться на почту 
										a(href="info@chatfood.ru." target='_blank') info@chatfood.ru.
				.col-lg-3.d-none.d-lg-block.sticky-content-js
					+navBlock()
						+e.item(href="#RemunerationAccrual") Начисление вознаграждений
						+e.item(href="#PaymentOfRewards") Выплата вознаграждений
						+e.item.active(href="#Participants") Участникам партнерской программы запрещается
						+e.item(href="#OtherConditions") Прочие условия
			+changePage()
				.row
					.col-md.order-2.order-md-1
						+changePageBtn('Назад', 'Пользовательское соглашение').--back
					.col-md.order-1.order-md-2
						+changePageBtn('Далее', 'Политика конфиденциальности')
	+parts('footer')
	//- +cookies()
	+sideScrollTop()