extends ../layout/main.pug

include ../blocks/headerBlock/_headerBlock.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sContent/_sContent.pug
 
include ../blocks/sCapabilities/_sCapabilities.pug
include ../blocks/sReasons/_sReasons.pug
include ../blocks/sControl/_sControl.pug
include ../blocks/sCompare/_sCompare.pug
include ../blocks/sWhyTelegramBot/_sWhyTelegramBot.pug
include ../blocks/sConnected/_sConnected.pug
include ../blocks/sChooseTariff/_sChooseTariff.pug
include ../blocks/sFAQBlock/_sFAQBlock.pug
include ../blocks/sReviews/_sReviews.pug

block variables
	- let  mainPage= 'main-page modal-stories-page' 
	- let  bg= 'main.jpg'

block title
	- let  title= 'Главная'
	title= title
block pagecontent
	//- +mob-mnu()
	
	
	+parts('header')
	main
		+headerBlock() 
		+sReasons('6 причин начать пользоваться ChatFood')
			+item('Меню заведения', 'Ваш клиент может ознакомиться с&nbsp;меню вашего ресторана в&nbsp;чат-боте', 'json/menu.json')
			+item('Заказы', 'Получайте заказы на&nbsp;доставку и&nbsp;самовывоз с&nbsp;онлайн-оплатой или оплатой наличными, с&nbsp;расчетом стоимости доставки', 'json/orders.json')
			+item('Клиентская база', 'Каждый клиент вступивший в&nbsp;чат-бот остается в&nbsp;системе. Вы&nbsp;видите информацию о&nbsp;каждом клиенте и&nbsp;их&nbsp;заказах', 'json/clients.json')
			+item('Рассылки', 'Стимулируйте клиентов к&nbsp;заказам или&nbsp;приглашайте в&nbsp;ресторан с&nbsp;помощью автоматизированных или ручных рассылок', 'json/mailing.json')
			+item('Бронирование столов', 'Ваши клиенты могут выбрать понравившийся стол и&nbsp;забронировать его в&nbsp;пару кликов на&nbsp;нужное время и&nbsp;дату не&nbsp;выходя из&nbsp;Telegram', 'json/table.json')
			+item('Бонусная система', 'Начисляйте бонусные рубли клиентам при авторизации в&nbsp;чат-боте, а&nbsp;также кэшбэк с&nbsp;заказов', 'json/bonus.json')
		+sCapabilities()
		+sControl()
		+sCompare()
		+sWhyTelegramBot()
		+sConnected()
		+sChooseTariff()
		+sFAQBlock()
		+sReviews()
		+parts('sTryItPart')
	+parts('footer')
	//- +cookies()


