// start .sContent
.sContent {
  --sPT: #{rem(18)};
  --sPB: #{rem(24)};
  // --sTPB: #{rem()};
  @include media-breakpoint-up(md) {
    --sPT: #{rem(46.4)};
    --sPB: #{rem(45)};
  }
  &__row {
    // --bs-gutter-x: #{rem()};
    --bs-gutter-y: #{rem(48)};
    @include media-breakpoint-up(lg) {
      --bs-gutter-y: 0;
    }
  }
  &__wrap {
    max-width: rem(816);
  }
  h1 {
    margin-bottom: rem(12);
    @include media-breakpoint-up(md) {
      margin-bottom: rem(24);
    }
  }
  h6 {
    margin-bottom: rem(18);
    font-size: rem(14);
    line-height: 1.22;
    @include media-breakpoint-up(md) {
      margin-bottom: rem(24);
      font-size: rem(20);
    }
  }
  p {
    font-size: rem(12);
    margin-bottom: rem(18);
    line-height: 1.5;
    @include media-breakpoint-up(md) {
      font-size: rem(16);
      margin-bottom: rem(36);
    }
    a {
      color: $secondary;
      &:hover {
        color: $primary;
      }
    }
  }
  ul {
    margin-bottom: rem(18);
    @include media-breakpoint-up(md) {
      margin-bottom: rem(36);
    }
  }
  ul {
    // margin-bottom: 0;
    list-style-type: none;
    li {
      padding-left: rem(18);
      position: relative;
      line-height: 1.25;
      margin-bottom: rem(16.8);
      font-size: rem(12);
      @include media-breakpoint-up(md) {
        font-size: rem(16);
        padding-left: rem(24);
      }
      &:last-child {
        margin-bottom: 0;
      }
      &::before {
        content: "";
        position: absolute;
        display: block;
        width: rem(3);
        height: rem(3);
        border-radius: 50%;
        background-color: $primary;
        top: rem(7);
        left: rem(7);
        @include media-breakpoint-up(md) {
          width: rem(4);
          height: rem(4);
          top: rem(8);
          left: rem(10);
        }
      }
    }
  }
  ol {
    counter-reset: num;
    list-style-type: none;
    padding-left: 0;
    margin-bottom: rem(18);
    @include media-breakpoint-up(md) {
      margin-bottom: rem(36);
    }
    li {
      font-size: rem(12);
      margin-bottom: rem(6);
      line-height: 1.5;
      @include media-breakpoint-up(md) {
        font-size: rem(16);
        margin-bottom: rem(12);
      }
      &::before {
        content: counter(num) ". ";
        counter-increment: num;
      }
    }
  }
  &__date {
    font-size: rem(10);
    color: $gray-500;
    margin-bottom: rem(18);
    line-height: 1.4;
    @include media-breakpoint-up(md) {
      margin-bottom: rem(24);
      font-size: rem(14);
    }
  }
  &__img-wrap {
    @include block(816, 498);
    border-radius: rem(12);
    background-color: #fff;
    margin-bottom: rem(18);
    overflow: hidden;
    z-index: 1;
    // &:after {
    //   content: "";
    //   display: block;
    //   position: absolute;
    //   left: 0;
    //   top: 0;
    //   width: 100%;
    //   height: 100%;
    //   background: var(--bgColor, $gray-100);
    //   z-index: -1;
    // }
    @include media-breakpoint-up(md) {
      margin-bottom: rem(24);
    }
    // &--edit-size {
    //   max-width: rem(360);
    //   &-2 {
    //     max-width: rem(456);
    //   }
    // }
  }
  .edit-size {
    max-width: rem(360);
    &-2 {
      max-width: rem(456);
    }
  }
  img {
    border-radius: rem(12);
    margin-bottom: rem(18);
    @include media-breakpoint-up(md) {
      margin-bottom: rem(24);
    }
  }
  &__article {
    margin-bottom: rem(18);
    @include media-breakpoint-up(md) {
      margin-bottom: rem(36);
    }
    p {
      @include media-breakpoint-up(md) {
        margin-bottom: rem(21);
      }
    }
  }
  .nav-block {
    &__content {
      display: block;
    }
    p {
      font-weight: 400;
      margin-bottom: rem(12);
      font-size: rem(12);
      padding-left: rem(12);
      @include media-breakpoint-up(md) {
        font-size: rem(16);
        margin-bottom: rem(24);
        padding-left: rem(24);
        font-weight: 700;
      }
    }
    &__link {
      position: relative;
      display: block;
      font-size: rem(12);
      padding: 0 0 0 rem(12);
      line-height: 1.25;
      &:not(:last-of-type) {
        margin-bottom: rem(12);
        @include media-breakpoint-up(md) {
          margin-bottom: rem(18);
        }
      }
      @include media-breakpoint-up(md) {
        padding: 0 0 0 rem(24);
        font-size: rem(16);
      }
      &:before {
        @include mt;
        background-color: transparent;
        border-radius: 0 5px 5px 0;
        bottom: 0;
        content: "";
        display: block;
        height: 100%;
        left: -1px;
        position: absolute;
        transform: scaleX(0.3) scaleY(0);
        transform-origin: left;
        width: rem(3);
      }
      &:hover {
        color: $secondary;
        &:before {
          background-color: $secondary;
          opacity: 1;
          transform: scaleX(1) scaleY(1);
        }
      }
      span {
        font-size: rem(10);
        line-height: 1.4;
        margin-bottom: rem(6);
        color: $gray-500;
        display: block;
        @include media-breakpoint-up(md) {
          font-size: rem(14);
        }
      }
    }
  }
  .ya-share2 {
    text-align: center;
    padding-top: rem(36);
    margin-top: rem(36);
    border-top: 1px solid $gray-200;
    @include media-breakpoint-up(lg) {
      padding-top: rem(48);
      margin-top: rem(48);
    }
    &__list {
      margin-bottom: 0;
    }
    .ya-share2__container_size_l .ya-share2__badge .ya-share2__icon {
      @include media-breakpoint-down(lg) {
        width: rem(36);
        height: rem(36);
        background-size: rem(28) rem(28) !important;
      }
    }
  }
  .btn-change-page {
    display: none;
    @include media-breakpoint-up(md) {
      margin-top: rem(54);
      display: block;
    }
  }
  @include media-breakpoint-up(xl) {
  }
  @include media-breakpoint-up(lg) {
  }
  @include media-breakpoint-up(md) {
  }
  @include media-breakpoint-up(sm) {
  }
  @include media-breakpoint-up(xs) {
  }

  //
  @include media-breakpoint-between(md, xl) {
  }

  //
  @include media-breakpoint-only(xs) {
  }
  @include media-breakpoint-only(sm) {
  }
  @include media-breakpoint-only(md) {
  }
  @include media-breakpoint-only(lg) {
  }
  @include media-breakpoint-only(xl) {
  }

  //
  @include media-breakpoint-down(xl) {
  }
  @include media-breakpoint-down(lg) {
  }
  @include media-breakpoint-down(md) {
  }
  @include media-breakpoint-down(sm) {
  }
  @include media-breakpoint-down(xs) {
  }
} // end.sContent
