mixin menu-toggle()
	+b.toggle-menu-mobile--js.d-lg-none
		span
mixin mob-mnu()
	-
		//- let path = require('path');
		//- let fs = require('fs');
		//- var requestURL = 'top-nav.json';
		//- var request = new XMLHttpRequest();
		//- request.open('GET', requestURL);
		//- request.responseType = 'json';
		//- let dataJson = JSON.parse(json);
	//- h1= dataJson['lala'] 
	+b.menu-mobile--js
		+b.toggle-menu-mobile--js
			span
		+e.inner
			+mnu()
	//  мобильное меню
mixin top-nav(auth) 
	// start top-nav
	+b.top-nav.block-with-lazy
		.container
			+e.row.row
				.col.col-lg-auto
					+e.logo(href='/'): +img('img/svg/logo.svg')
				.col-0.col-lg.order-lg-0.order-last
					.menu-mobile.menu-mobile--js
						.container
							.menu-mobile__inner
								+e.login(href="#")
									+icon('logIn')
									| Войти в кабинет
								+mnu()
								+e.mob-content
									+e.tel(href='tel:+79954871611') +7 (995) 487-16-11
									+e.text г. Самара, ул. Партизанская 86, оф. 341
									+e.mail(href='mailto:info@chatfood.ru') info@chatfood.ru
									+e.tech-help(href='#' target="_blank")
										+e.icon-wrap: +icon('telegram')
										| Техподдержка в Telegram
									+soc
									+e.lang(href='#')
										| En
										+img('img/english.png')
				.col-auto.ms-auto
					if auth
						+e.authorized.menu-dropdown--js
							+e.authorized-wrap.dropdownBtn--js
								+e.img-wrap
									span М
									+img('img/avatar.jpg')
							.dropdown-container
								a(href="#") Личный кабинет
								a(href="#") Мои чат-боты
								a(href="#") Заказы
								a(href="#") Бронирование столов
								a(href="#") Выйти
					else
						+e.btn-reg.btn.btn-outline-primary(href='#') Начать бесплатно
						+e.btn.d-none.d-lg-inline(href='#') Войти
				.col-auto.d-lg-none
					+menu-toggle()
	// end top-nav