.top-nav {
	padding-top: #{rem(14)};
	padding-bottom: #{rem(14)};
	// --sTPB: #{rem()};
	border-bottom: rem(1) solid $gray-200;
	@include media-breakpoint-up(lg) {
		padding-top: #{rem(0)};
		padding-bottom: #{rem(0)};
	}
	&__row{
		--bs-gutter-x: #{rem(18)};
		// --bs-gutter-y: var(--bs-gutter-x);

		align-items: center;
		@include media-breakpoint-up(lg) {
			--bs-gutter-x: #{rem(24)};
		}
		@include media-breakpoint-up(xl) {
			--bs-gutter-x: #{rem(48)};
		}
	}
	.section-title{
		
	}
	&__col{

	}
	&__item{

	}
	&__slide{
		height: auto;
	}
	&__logo {
		display: block;
		width: 100%;
		max-width: rem(124);
		@include media-breakpoint-up(lg) {
			max-width: rem(140);
		}
		@include media-breakpoint-up(xl) {
			max-width: rem(180);
		}
		img {
			width: 100%;
		}
	}
	&__btn-reg {
		--bs-btn-font-size: #{rem(12)};
		--bs-btn-padding-y: #{rem(6)};
		--bs-btn-padding-x: #{rem(20)};
		--bs-btn-border-radius: #{rem(8)};

		@include media-breakpoint-up(lg) {
			--bs-btn-font-size: #{rem(16)};
			--bs-btn-padding-y: #{rem(10.4)};
			--bs-btn-border-radius: #{rem(12)};

			margin-right: rem(24);
		}
	}
	&__authorized {
		
	}
	&__authorized-wrap {
		position: relative;
		border: 1px solid $gray-200;
		border-radius: 60px;
		padding: rem(5) rem(38) rem(5) rem(4);
		cursor: pointer;
		&:after {
			content: '';
			position: absolute;
			top: 50%;
			right: rem(12);
			width: rem(20);
			height: rem(20);
			background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.84959 12.8502C9.67037 12.8502 9.49117 12.7818 9.35453 12.6452L5.05475 8.34536C4.78123 8.07184 4.78123 7.62837 5.05475 7.35496C5.32816 7.08155 5.77154 7.08155 6.04509 7.35496L9.84959 11.1597L13.6541 7.35509C13.9276 7.08168 14.371 7.08168 14.6444 7.35509C14.918 7.62851 14.918 8.07198 14.6444 8.3455L10.3447 12.6453C10.2079 12.7819 10.0287 12.8502 9.84959 12.8502Z' fill='%23FF7A00'/%3E%3C/svg%3E%0A");
			background-repeat: no-repeat;
			background-size: contain;
			background-position: center;
			transform: translateY(-50%);
		}
	}
	&__img-wrap {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		width: rem(36);
		height: rem(36);
		border-radius: 50%;
		background-color: $secondary;
		z-index: 1;
		overflow: hidden;
		span {
			font-weight: 700;
			color: #fff;
			font-size: rem(18);
		}
		img {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	.menu-dropdown {
		position: relative;
		&.active {
			.dropdown-container {
				opacity: 1;
				pointer-events: all;
			}
		}
		.dropdown-container {
			@include mt;
			position: absolute;
			min-width: rem(233);
			right: 0;
			top: calc(100% - rem(6));
			background-color: #fff;
			border: 1px solid $gray-200;
			box-shadow: 0px 5px 20px rgba(25, 28, 31, 0.15);
			border-radius: 12px;
			padding: rem(12) 0;
			opacity: 0;
			pointer-events: none;
			@include media-breakpoint-up(lg) {
				left: 50%;
				transform: translateX(-50%);
				right: unset;
			}
			a {
				padding: rem(10) rem(23);
				text-align: left;
				transition-duration: 0s;
				line-height: 1.25em;
				color: $body-color;
				&::after {
					content: unset;
				}
				&:hover:not(.disabled) {
					background-color: $gray-100;
				}
				&.disabled {
					pointer-events: none;
					color: $gray-500;
				}
				.badge {
					margin-left: rem(6);
				}
			}
		}
	}
	@include media-breakpoint-up(md) {}

	@include media-breakpoint-up(sm) {}

	@include media-breakpoint-up(xs) {}

	// 
	@include media-breakpoint-between(md, xl) {}

	// 
	@include media-breakpoint-only(xs) {}

	@include media-breakpoint-only(sm) {}

	@include media-breakpoint-only(md) {}

	@include media-breakpoint-only(lg) {}

	@include media-breakpoint-only(xl) {}

	// 
	@include media-breakpoint-down(xl) {}

	@include media-breakpoint-down(lg) {}

	@include media-breakpoint-down(md) {}

	@include media-breakpoint-down(sm) {}

	@include media-breakpoint-down(xs) {}
}


