mixin sEngVersionHeaderBlock(data)
	// start sEngVersionHeaderBlock
	+b.SECTION.sEngVersionHeaderBlock.section#sEngVersionHeaderBlock&attributes(attributes)
		.container
			+e.row.row
				.col-12 
					+e.card--gradient
						h1 ChatFood.ru&nbsp;&mdash; Telegram Chatbot for the Restaurant Business
						p ChatFood is&nbsp;a&nbsp;fast, convenient and up-to-date service that gives restaurants the opportunity to&nbsp;create their own Telegram chatbot in&nbsp;only 5&nbsp;minutes to&nbsp;organize the process of&nbsp;selling food to&nbsp;their customers directly through the messenger.
						p More than 400 restaurants from Russia and other CIS countries have been using our platform since 2021. According to&nbsp;them, ChatFood is&nbsp;considered to&nbsp;be&nbsp;the most practical and functional platform for creating a&nbsp;chatbot and organizing food delivery from a&nbsp;restaurant.
	// end sEngVersionHeaderBlock