mixin sEngVersionHeaderBlock(data)
	// start sEngVersionHeaderBlock
	+b.SECTION.sEngVersionHeaderBlock.section#sEngVersionHeaderBlock&attributes(attributes)
		.container
			+e.row.row
				.col-lg-12 
					+e.card--gradient
						h1 ChatFood.ru&nbsp;&mdash; Telegram Chatbot for the Restaurant Business
						p ChatFood is&nbsp;a&nbsp;fast, convenient and up-to-date service that gives restaurants the opportunity to&nbsp;create their own Telegram chatbot in&nbsp;only 5&nbsp;minutes to&nbsp;organize the process of&nbsp;selling food to&nbsp;their customers directly through the messenger.
						p More than 400 restaurants from Russia and other CIS countries have been using our platform since 2021. According to&nbsp;them, ChatFood is&nbsp;considered to&nbsp;be&nbsp;the most practical and functional platform for creating a&nbsp;chatbot and organizing food delivery from a&nbsp;restaurant.
				.col-lg-6
					+e.card
						+e.title.order-2.order-md-1 If&nbsp;you want to&nbsp;create a&nbsp;Telegram chatbot for a&nbsp;restaurant in&nbsp;your country, we&nbsp;can help with that
						+e.img-wrap.order-1.order-md-2
							.img-wrap-center(data-json= 'json/engineer2.json')
				.col-lg-6
					+e.row.row
						.col-12 
							+e.card
								h6 We offer
								ul.default-list
									li fully customizable chatbot (fill in&nbsp;text information and system messages in&nbsp;any language);
									li diversity of&nbsp;currencies (Russian ruble, Belarusian ruble, Ukrainian hryvnia, Kazakhstani tenge, euro, dollar, Polish zloty, Moldovan leu);
									li technical support (for any questions relating to&nbsp;working on&nbsp;our platform).
						.col-12
							+e.card
								h6 We are currently working on
								ul.default-list
									li the platform&rsquo;s multilingualism and knowledge base (a&nbsp;full English-language version of&nbsp;the website will be&nbsp;available on&nbsp;the platform in&nbsp;the near future);
									li the functionality for calculating shipping costs anywhere in&nbsp;the world (only available for the Russian market at&nbsp;the moment).
				.col-12
					+e.card--bordered
						h4 Our history
						p ChatFood has been running since 2021. In&nbsp;two years, we&nbsp;have become the leading platform in&nbsp;the Russian-speaking market in&nbsp;Russia and the CIS countries for developing chatbots for restaurants and cafes. We&nbsp;have over 400 connected restaurants as&nbsp;of&nbsp;March 2023, as&nbsp;well as&nbsp;over 10,000 users of&nbsp;chatbots created on&nbsp;our platform. We&nbsp;have a&nbsp;fair amount of&nbsp;organic traffic for keywords such as&nbsp;&laquo;chatbot for cafes&raquo;, &laquo;chatbot on&nbsp;Telegram for restaurants&raquo; etc.
						p: strong ChatFood is&nbsp;a&nbsp;fast-growing service for efficient restaurant operations. We&nbsp;provide the best Telegram chatbot solutions for restaurants.
				.col-12
					+e.card
						.row
							.col-lg-6.me-lg-auto.order-2.order-md-1
								h4 Our advantages
								ul.default-list
									li a user-friendly interface;
									li ultimate customisation of the chatbot to suit your business;
									li knowledge base with answers to common questions;
									li technical support for any questions relating to the operation of the platform and chatbot.
								p We take into account all our customers' wishes and include them in the platform.
							.col-lg-auto.order-1.order-md-2
								+e.img-wrap
									.img-wrap-center(data-json= 'json/partner_left.json')
	// end sEngVersionHeaderBlock