 
	  
.soc{
	@include roww(6px, m);
	display: flex;
	&__item{
		text-decoration: none !important; 
		vertical-align: middle;
		@include mt;
		display: grid;
		place-items: center;
		padding: rem(5);
		border-radius: 50%;
		background-color: $gray-100;
		color: var(--iconColor);
		@include media-breakpoint-up(lg) {
			padding: rem(6);
		}
		&:hover{
		 	// box-shadow: 0 0 33px 0px rgba(255, 83, 0, 0.16);
			// opacity: .6 ;
			background-color: var(--iconColor);
			color: #fff;
		}
		
	}
	.icon{
		font-size: rem(20);
	}


}


.counter{
	counter-reset: num;
	&__item {
		position: relative; 
		&::before {
			content: counter(num);
			counter-increment: num;
		}
	}
}




.addBlock{
	color: var(--color, #{$primary});
	border: 1px solid;
	border-radius: 23px;
	display: flex;
	position: relative;
	overflow: hidden;
	input{
		color: inherit;
		text-align: center;
		border: none;
		height: rem(45);
	}
	&__btn{
		color: inherit;
		height: rem(45);
		position: relative;
		border-radius: 23px;
		background: none !important;
		border: none !important;
		box-shadow: none !important;
		outline: none !important;
		background: transparent;
		// padding-left: rem(8);
		// padding-right: rem(8);
		width: rem(26);
		&::before,
		&::after{
			content: '';
			width: 10px;
			height: 2px; 
			background-color: currentColor;
			@include a-cent;
			position: absolute;
		}
		&--plus::after{
			transform: rotate(90deg);
		}
	}
}


.search-block{
	position: relative;
	input{
		font-size: 14px;
		width: 100%;
		border: none !important;
		outline: none !important;
		padding-left: rem(30);
		padding-top: rem(14);
		padding-bottom: rem(14);
	}
	.icon{
		font-size: rem(20);
		border: none !important;
	}
	button{
		position: absolute;
		left: 0;
		top: 0;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		background: none !important;
		border: none !important;
	}
}

.breadcrumb-item{
	width: auto;
	margin-right: rem(32);
}

.dd-group {
	&__item {
		&.active {
			.dd-group__content {
				// display: block;
			}
			.dd-group__head {
				&:after {
					transform: translateY(-50%) rotate(-180deg);
				}
			}
		}
	}
	&__head {
		&:after {
			@include mt;
			content: '';
			position: absolute;
			display: block;
			background-image: url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.99998 10.0001C6.82076 10.0001 6.64156 9.92809 6.50493 9.78434L2.20514 5.25844C1.93162 4.97054 1.93162 4.50375 2.20514 4.21596C2.47855 3.92818 2.92193 3.92818 3.19548 4.21596L6.99998 8.22073L10.8045 4.2161C11.078 3.92832 11.5214 3.92832 11.7948 4.2161C12.0684 4.50389 12.0684 4.97068 11.7948 5.25858L7.49504 9.78448C7.35834 9.92826 7.17914 10.0001 6.99998 10.0001Z' fill='%23FF7A00'/%3E%3C/svg%3E%0A");
			width: rem(14);
			height: rem(14);
			background-repeat: no-repeat;
			background-size: contain;
			background-position: center;
			right: 0;
			top: 50%;
			transform: translateY(-50%);
		}
	}
	&__content {
		display: none;
	}
}