mixin sTryIt(data)
	// start sTryIt
	+b.SECTION.sTryIt.section#sTryIt&attributes(attributes)
		.container
			+e.wrap
				h2 Попробуйте ChatFood уже сегодня
				p Создайте WebApp чат-бота в ChatFood за 5 минут без разработчиков и магии
				a.btn.btn-primary(href='#') Попробовать бесплатно
				+img('img/sTryIt-bg.png')
	// end sTryIt