mixin sTryIt(data)
	// start sTryIt
	+b.SECTION.sTryIt.section#sTryIt&attributes(attributes)
		.container
			+e.wrap
				h2 Попробуйте ChatFood уже сегодня
				p Создайте WebApp чат-бота в ChatFood за 5 минут без разработчиков и магии
				a.btn.btn-primary(href='#') Попробовать бесплатно
				+img('img/sTryIt-bg.png')
	// end sTryIt


mixin sTryIt2(data)
	// start sTryIt
	+b.SECTION.sTryIt--2.section#sTryIt&attributes(attributes)
		.container
			+e.wrap
				.row
					.col-lg-7.order-2.order-md-1
						h4 Register and try ChatFood
						p Telegram and chatbots in&nbsp;Russia and the CIS countries are achieving record levels of&nbsp;growth.
						a.btn.btn-primary(href='#') Register
					.col.order-1.order-md-2
						+e.img-wrap
							.img-wrap-center(data-json='json/hero_left.json')
	// end sTryIt

mixin sTryIt3(data)
	// start sTryIt
	+b.SECTION.sTryIt--3.section#sTryIt&attributes(attributes)
		.container
			+e.wrap
				.row
					.col-lg-7
						h2 Стать партнером ChatFood
						p Вы сможете сотрудничать с нами в долгосрочной перспективе и получать пассивный доход на протяжении многих лет
						a.btn.btn-primary(href='#') Зарегистрироваться
					.col
						+e.img-wrap
							.img-wrap-center(data-json='json/hero_left.json')
	// end sTryIt