// start .sWiki
.sWiki {
	--sPT: #{rem(18)};
	--sPB: #{rem(24)};
	// --sTPB: #{rem()};
	@include media-breakpoint-up(lg) {
		--sPT: #{rem(46.4)};
		--sPB: #{rem(45)};
	}
	&__row {
		// --bs-gutter-x: #{rem()};
		// --bs-gutter-y: #{rem(48)};
		// @include media-breakpoint-up(lg) {
		// 	--bs-gutter-y: 0;
		// }
	}
	&__wrap {
		max-width: rem(816);
	}
	h1 {
		margin-bottom: rem(12);
		@include media-breakpoint-up(md) {
			margin-bottom: rem(24);
		}
	}
	.search-block {
		margin-bottom: rem(24);
		@include media-breakpoint-up(md) {
			margin-bottom: rem(32);
		}
		@include media-breakpoint-up(lg) {
			margin-bottom: rem(48);
		}
	}
	.dd-group {
		&__item {
			border-bottom: 1px solid $gray-200;
			padding: rem(18) 0;
			@include media-breakpoint-up(md) {
				padding: rem(24) 0;
			}
			&:first-child {
				padding-top: 0;
			}
			&.active {
				.dd-group__head:after {
					// background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M10 13.0005C10.2151 13.0005 10.4301 12.9184 10.5941 12.7545L15.7538 7.59471C16.0821 7.26648 16.0821 6.73432 15.7538 6.40623C15.4257 6.07813 14.8937 6.07813 14.5654 6.40623L10 10.9719L5.43459 6.40639C5.10636 6.07829 4.57436 6.07829 4.24629 6.40639C3.9179 6.73448 3.9179 7.26664 4.24629 7.59487L9.40595 12.7547C9.57 12.9186 9.78504 13.0005 10 13.0005Z' fill='%23C2C2C2'/%3e%3c/svg%3e ");

					background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M9.99998 13.8404C9.78492 13.8404 9.56988 13.7582 9.40591 13.5943L4.24617 8.43456C3.91794 8.10633 3.91794 7.57416 4.24617 7.24607C4.57426 6.91798 5.10632 6.91798 5.43458 7.24607L9.99998 11.8117L14.5654 7.24623C14.8936 6.91814 15.4256 6.91814 15.7537 7.24623C16.0821 7.57432 16.0821 8.10649 15.7537 8.43471L10.594 13.5945C10.43 13.7584 10.215 13.8404 9.99998 13.8404Z' fill='%23FF7A00'/%3e%3c/svg%3e ");
					transform: translateY(-50%);
				}
			}
			.wikiItem {
				margin-bottom: rem(12);
				@include media-breakpoint-up(md) {
					margin-bottom: rem(24);
				}
				&:last-child {
          margin-bottom: 0;
        }
			}
		}
		&__head {
			position: relative;
			padding-right: rem(24);
			// display: flex;
			// align-items: center;
			// flex-wrap: wrap;
			cursor: pointer;
			@include media-breakpoint-up(md) {
				padding-right: rem(30);
			}
			&::after {
				// background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M9.99998 13.8404C9.78492 13.8404 9.56988 13.7582 9.40591 13.5943L4.24617 8.43456C3.91794 8.10633 3.91794 7.57416 4.24617 7.24607C4.57426 6.91798 5.10632 6.91798 5.43458 7.24607L9.99998 11.8117L14.5654 7.24623C14.8936 6.91814 15.4256 6.91814 15.7537 7.24623C16.0821 7.57432 16.0821 8.10649 15.7537 8.43471L10.594 13.5945C10.43 13.7584 10.215 13.8404 9.99998 13.8404Z' fill='%23FF7A00'/%3e%3c/svg%3e ");

				background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M10 13.0005C10.2151 13.0005 10.4301 12.9184 10.5941 12.7545L15.7538 7.59471C16.0821 7.26648 16.0821 6.73432 15.7538 6.40623C15.4257 6.07813 14.8937 6.07813 14.5654 6.40623L10 10.9719L5.43459 6.40639C5.10636 6.07829 4.57436 6.07829 4.24629 6.40639C3.9179 6.73448 3.9179 7.26664 4.24629 7.59487L9.40595 12.7547C9.57 12.9186 9.78504 13.0005 10 13.0005Z' fill='%23C2C2C2'/%3e%3c/svg%3e ");
				transform: translateY(-50%) rotate(-180deg);
				@include media-breakpoint-up(md) {
					width: rem(20);
					height: rem(20);
				}
			}

			h5 {
				margin-bottom: 0;
				display: inline-block;
				font-size: rem(18);
				@include media-breakpoint-up(md) {
					font-size: rem(26);
				}
			}
			.badge {
				margin-left: rem(6);
				// margin-left: 0;
				vertical-align: middle;
				// @include media-breakpoint-up(md) {
				// 	margin-left: rem(12);
				// }
			}
		}
		&__content {
			padding-top: rem(18);
			@include media-breakpoint-up(md) {
				padding-top: rem(24);
			}
		}
	}

	@include media-breakpoint-up(xl) {
	}
	@include media-breakpoint-up(lg) {
	}
	@include media-breakpoint-up(md) {
	}
	@include media-breakpoint-up(sm) {
	}
	@include media-breakpoint-between(md, xl) {
	}
	@include media-breakpoint-only(xl) {
	}
	@include media-breakpoint-down(xl) {
	}
} // end.sWiki
