mixin sEngVersionHeader(data)
	// start sEngVersionHeader
	+b.HEADER.sEngVersionHeader.section#sEngVersionHeader&attributes(attributes)
		.container
			+e.logo(href='/'): +img('img/svg/logo.svg')
	// end sEngVersionHeader