
mixin mnu()
	nav
		ul.menu(itemscope itemtype="http://schema.org/SiteNavigationElement")
			each link in nav
				li.menu-item(itemprop="item" ): a(href= link.url itemprop="url")= link.name
				if link.subnav
					li.menu-item.menu-item-has-children
						a(href="#" itemprop="url") О нас
						ul.sub-menu
							each sublink in link.subnav
								li.menu-item(itemprop="item" ): a(href= sublink.url itemprop="url")= sublink.name
			li.menu-item.menu-dropdown.menu-dropdown--js
				.dropdownBtn.dropdownBtn--js(href='#' itemprop="url") Еще
				.dropdown-container
					a(href="#") Чат-бот под ключ
						span.badge.bg-info PRO
					a(href="#") Пункт 2
					a(href="#") Пункт 3
					a(href="#") Пункт 4
					a(href="#").disabled Заказать еду
						span.badge.bg-success скоро

//- menu