
mixin mnu()
	nav
		ul.menu(itemscope itemtype="http://schema.org/SiteNavigationElement")
			each link in nav
				li.menu-item(itemprop="item" class=link.class): a(href= link.url itemprop="url")= link.name
				if link.subnav
					li.menu-item.menu-item-has-children
						a(href="#" itemprop="url") О нас
						ul.sub-menu
							each sublink in link.subnav
								li.menu-item(itemprop="item" ): a(href= sublink.url itemprop="url")= sublink.name
			li.menu-item.menu-item-has-children.menu-dropdown--js
				.dropdownBtn.dropdownBtn--js Еще
				ul.sub-menu.dropdown-container
					li.menu-item: a(href="#" itemprop="url") Чат-бот под ключ
						span.badge.bg-info PRO
					li.menu-item: a(href="#" itemprop="url") Пункт 2
					li.menu-item: a(href="#" itemprop="url") Пункт 3
					li.menu-item: a(href="#" itemprop="url") Пункт 4
					li.menu-item: a(href="#" itemprop="url").disabled Заказать еду
						span.badge.bg-success скоро

//- menu